body {
  margin: 0;
  background-color: rgba(230, 230, 230, 1);
}

.background-color {
  background-color: white;
}

.lists-style{
  margin: 0;
  padding: 0px;
  list-style-type: none;
}

@font-face {
    font-family: PT Sans;
    font-size: normal;
    font-weight: 400;
    src: url("../fonts/PTSans-Regular.ttf") format(woff2);  
    font-display: swap;
    
}

@font-face {
    font-family: PT Sans;
    font-size: normal;
    font-weight: 700;
    src: url("fonts/PTSans-Bold.ttf") format(woff2);
    font-display: swap;
    
}
@font-face {
    font-family: PT Sans;
    font-size: normal;
    font-weight: 400;
    src: url("fonts/PTSans-Italic.ttf") format(woff2);
    font-display: swap;
    
}

body {
    font-family: PT Sans, sans-serif;
    font-size: 18px;
    line-height: 21px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h1 {
    font-family: PT Sans, sans-serif;
    font-size: 22px;
    line-height: 26px;
}

html {
 height: 100%;
 display: flex;
 flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

bottom {
  font-family: PT Sans, sans-serif;
    font-size: 18px;
    line-height: 21px;
}

.about-sedona {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-image: url("../img/index-background.jpg");
  width: 1200px;
  height: 485px;
  background-repeat: no-repeat;
}

.blue-container {
  box-sizing: border-box;
  background-color: #82B3D3;
  color: white;
  width: 400px;
  text-align: center;
  padding-top: 92px;
  flex-grow: 1;
}

.blue-container-paragraph {
  font-size: 24px;
  line-height: 28px;
}

.position-center {
 width: 230px;
 margin-left: auto;
 margin-right: auto;
 
}

.blue-container-reversed {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  background-color: #82B3D3;
  color: white;
  text-align: center;
  padding-top: 92px;
  flex-grow: 1;
}

.canyon {
  display: flex;
  max-width: 1200px;
  min-width: 800px;
  object-fit:cover;
} 

.wrapper {
  background-color: white;
  width: 1200px;
  margin: 0 auto;
  flex-grow: 1;

}

.blue-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.mailing-list {
 background-image: url("../img/blur-backgrounds/blur-background.jpg");
 background-repeat: no-repeat;
 text-align: center;
 color: white;
 padding-top: 92px;
 box-sizing: border-box;
}

.mailing-list-paragraph {
 display: flex;
 justify-content: center;
 margin-top: 30px; 
 margin-bottom: 46px;
}

.hotels-in-sedona {
 background-image: url("../img/blur-backgrounds/2-blur-background.jpg");
 background-repeat: no-repeat;
 color: white;
 height: 403px;
 padding: 30px 70px;
}

.main-navigation {
  display:flex;
  margin: 0 auto; 
  width: 1200px;
}

.first-navigation-list {
  width: 630px;
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  justify-content: start;
  padding-left: 30px;
}

.navigation-links {
color: black;
text-decoration: none;
font-weight: 700;

}

.navigation-image {
  width: 140px;
  justify-content: start;
  padding-left: 70px;
}

.second-navigation-list  {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  justify-content: end;
  align-items: center;
}

.second-navigation-list-links {
 display: block; 
}

.welcom-to-sedona {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 54px;
  padding-bottom: 28px;
}

.welcom-to-the-gorgeous{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 51px;
}

.welcom-to-the-gorgeous-2{
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 11px;
}

.reasons {
  width: 620px;
}

.visually-hidden {
  display: none;
}

.decoration-pictures {
    display: block;
    height: 57px;
    margin-top: auto;
}

.beautiful-build {
  display: flex;
  max-width: 1200px;
  min-width: 800px;
  margin: 0 auto;
  object-fit:cover;
}

.facts-list-2 {
  display: flex;
  flex-wrap: wrap;
}

.facts-list-item {
  width: 400px;
  text-align: center;
  flex-grow: 1;
  padding-bottom: 50px;
}

.houses {
 background-color: rgba(131, 179, 211, 0.12);
}

.padding {
  padding-top: 80px;
  margin: 0;
}

.advantages {
  margin-top: 103px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.intresting {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.subscribe {
  display: block;
  font-weight: 700;
font-size: 30px;
line-height: 36px;
}

.dates {
 display: flex;
 justify-content: center;
 margin-top: 30px; 
}

.souvenirs {
  background-color: rgba(131, 179, 211, 0.12);
}

.list-vrapper {
    display: flex;
    flex-wrap: wrap;
}

.hotels-in-sedona-paragraph {
  font-weight: 700;
font-size: 60px;
line-height: 78px;
margin: 0;
}

.small-place {
  background-color: rgba(131, 179, 211, 0.12);

}

.beatiful-trip {
  background-color: rgba(131, 179, 211, 0.2);
}

.few-tourists {
  background-color: rgba(131, 179, 211, 0.12);
}

.find-hotel {
  text-align: center;

  padding-top: 90px;
  box-sizing: border-box;

}

.button-brown-find-hotel {
  background-color:#756157 ;
  padding:15px;
  border: 0px;
  color: white;
  border-radius: 5px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px; 
  margin-top: 70px;
  cursor: pointer;
  width: 700px;
  margin-bottom: 70px;
}

.main-footer {
  display:flex;
  width: 1200px;
  margin: 0 auto;
  padding-top: 45px;
  padding-bottom: 30px;
}

.social-media {
    margin-left: 70px; 
    width: 300px;
    display: flex;
    flex-wrap: wrap;
}

.footer-logo {
    margin-right: 70px;
}

.sedona-small-town {
  margin: 0 auto;
  width: 654px;
  margin-top: 30px;
  margin-bottom: 70px;
  text-align: center;
}

.sedona-small-town-paragraph {
  text-align: center;
  width: 620px;
  font-size: 30px;
line-height: 36px;
}

.infrastructure {
 width: 150px;
 height: 150px;
 margin-right: 70px;
}

.infrastructure-items {
 margin: 10px 0; 
}

.apartaments-items {
  margin: 10px 0; 
}

.navigation-wrapper {
 display: flex;
 grid-template-columns: auto;
}

.price {
  display: flex;
width: 287px;
height: 150px;
padding-top: 20px;
}

.bottom-price {
  display: flex;
  width: 160px;
  height: 48px;
  box-sizing: border-box;
  padding-top: 20px;
  
}

.apartaments {
  margin-right: 175px;
}

.apply {
  width: 160px;
}

.how-find {
  display:flex;
 width: 1060px;
}

.select {
margin-right: 78px;
width: 290px;
margin-bottom: 60px;
padding-left: 20px;
padding: 14px;

}

.hotels {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.hotels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 0 18px;
}

.hotels-list-item {
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
}

.hotels-list-images {
  size: 100%;
}

.hotels-list-grid {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: auto 37px 37px 37px;
  gap: 20px;
}

.hotels-list-paragraph {
  grid-column: 1 / -1;
  margin-bottom: 0;
}

.hotels-list-price {
  grid-column: 1 / 2;
  
  margin: 0;
}

.hotels-list-price-2 {
  grid-column: 2 / 4;
  grid-row: 2 / 4;
  margin: 0;
}

.hotels-list-rating-picture {
  grid-row: 4 / 5
}

.hotels-list-rating {
  grid-row: 4 / 5
}

.whats-find {
  margin: 0 auto;
}

.options {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.number-of-page {
  width: 1056px;
  margin: 0 auto;
  margin-bottom: 25px;
  box-sizing: border-box;
}

.number-of-page-choose {
  width: 160px;
  height: 49px;
  padding: 14px 20px;

}

.last {
  margin-right: 219px;
}


.mailing-list-2 {
  text-align: center;
  padding-top: 92px;
  box-sizing: border-box;
}

.contacts {
  width: 720px;
  text-align: center;
  margin-right: 41.5px;
  margin-left: 41.5px;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  color: black;
  text-decoration: none;
}

.navigation-items:not(:last-child){
  margin-right: 34px;
}

.favorite-icon {
  padding-right: 20px;
  display: inline-block;
}

.options-item {
  padding-right: 8px;
}

.mailing-list-form {
 width: 600px;
 box-sizing: border-box;
 border-radius: 10px;
 border: 0;
 padding: 20px;
 background-color: rgba(242, 242, 242, 1);
}

.mailing-list-lable-2 {
  width: 600px;
  box-sizing: border-box;
  border-radius: 10px;
  border: 0;
  padding: 20px;
  background-color: rgba(242, 242, 242, 1);
 }

.mailing-list-label {
display: flex;
justify-content: center;
margin: 0;
margin-bottom: 100px;
}

.mailing-list-buttom {
  cursor: pointer;
  width: 200px;
  padding: 15px;
  border: 0;
  border-radius: 10px;
  background-color: #82B3D3;
  color: white;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
}

.button-favorite-blue {
  width: 140px;
  padding:15px;
  padding-top:9px;
  padding-bottom:8px;
  background-color: #82B3D3;
  border: 0px;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  grid-column:2 / 4;
  grid-row: 3 / 4;
}

.button-favorite-green {
  width: 140px;
  padding:15px;
  padding-top:9px;
  padding-bottom:8px;
  background-color:#7DB54F;
  border: 0px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  grid-column:2 / 4;
  grid-row: 3 / 4;
}

.button-brown {
  width: 140px;
  background-color:#756157 ;
  padding:15px;
  padding-top:9px;
  padding-bottom:8px;
  border: 0px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.navigation-button-brown {
  width: 100px;
  padding:15px;
  padding-top:9px;
  padding-bottom:8px;
  background-color:#756157;
  border: 0px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.facts {
  display: flex;
  flex-wrap: wrap;
}

.button-rating {
  width: 140px;

  padding:15px;
  padding-top:9px;
  padding-bottom:8px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
  box-sizing: border-box;
}

.rating {
 display: flex; 
}

.hotels-list-botton {
  margin-bottom: 18px;
  cursor: pointer;
  display: flex;
}

.hotels-list-wrapper {
padding: 20px;
padding-right: 16px;
}

.number-of-page-blue {
  background-color: #82B3D3;
  color: white;
  width: 66px;
  height: 66px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.number-of-page-gray {
  width: 66px;
  height: 66px;
  border: 0px;
  border-radius: 5px;
  cursor: pointer;
}

.number-of-page-paragraph {
  display: inline;
  padding-right: 51px;
}

.stic {
  width: 1055px;
  height: 1px;
  background-color: rgba(230, 230, 230, 1);
  margin: 0 auto;
  margin-top: 66px;
  margin-bottom: 30px;
}